<html>
	<head>
        <meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">	
	</head>
</head>	
	<body onload="onLoad()">
		<div class="container" id="webLivros">
            <h3>Lista de Livros</h3>				
                <div class="card mb-3" v-for ="livro in livros">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-8 mb-3">
                                <div>Identificação</div> 
                                <div class="card-header alert-dark">{{livro.id}}</div>
                                <div>Título</div> 
                                <div class="card-header alert-dark">{{livro.titulo}}</div>
                                <div>Gênero</div> 
                                <div class="card-header alert-dark">{{livro.genero}}</div>
                                <div>Autor</div> 
                                <div class="card-header alert-dark">{{livro.autor}}</div>
                            <div>
                            <button class="btn btn-primary btn-lg">Listar mais</button>
                        </div>
                    </div>
                </div>
		</div>
		<script>
			function onLoad() {
				var app = new Vue(
				{
					el : '#webLivros',
					data : {
						livros : []
					},
					mounted () {
						axios
					      .get('https://eds2-ac2.herokuapp.com/livros')
					      .then(response => (this.livros = response.data))
					}
				});
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>